@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

header{
    font-family: 'Palette Mosaic', cursive;
    background-color: aquamarine;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
}