@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

header{
    font-family: 'Palette Mosaic', cursive;
    background-color: aquamarine;
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
    color: wheat;
    margin-top: 50px; /*Distancia respecto a otro elemento*/
    padding-top: 25px; /*Distancia dentro de los bordes del mismo elemento*/
    text-align: center;
}

footer a:link {
    color: wheat;
}

img {
    border: 1px solid black;
}

.dotnet6 {
    width: 75%;
}

.office365 {
    width: 75%;
}