body{
    background-color: blanchedalmond;
}

h1{
    background-color: aquamarine;
}

h2{
    color: cadetblue;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: coral;
}

a:hover {
    color: darkcyan;
}

a:active {
    color: dimgrey;
}